uzip(){
    exFile="${1##*.}"
    case "${exFile}" in
        zip) 
            unzip $1
            ;;
        7z) 
            7za x $1 
            ;;
        *)
            echo -e "not an archive\n"
            ;;
    esac
}

if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi
# command alias
alias tmux="tmux -2"

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias df='df -h'
alias dfk='df -k'

alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias cpufreq-info='watch -n 1 "grep \"^[c]pu MHz\" /proc/cpuinfo"'

# Dev
alias cmain="g++ main.cpp -o main && chmod +x main && ./main"

# System
alias kys="shutdown now"
alias :q="exit"
alias checkpower="~/.scripts/checkPower.sh"
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# Monitor
alias vga-connect="xrandr --output VGA-1 --mode '1280x1024' --auto --above LVDS-1"
alias vga-disconnect="xrandr --output VGA-1 --off"
alias hdmi-connect="xrandr --output HDMI-1 --auto --right-of LVDS-1"
alias hdmi-disconnect="xrandr --output HDMI-1 --off"

alias echo-cancel="pactl load-module module-echo-cancel aec_method=webrtc aec_args='analog_gain_control=0 digital_gain_control=1'"
alias listen-mic="pactl load-module module-loopback latency_msec=2"

alias :q="exit"

# Sound
alias echo-cancel="pactl load-module module-echo-cancel aec_args='analog_gain_control=0' eac_method=webrtc"
alias listen-mic="pactl load-module module-loopback"

alias echo-cancel-off="pactl unload-module module-echo-cancel"
alias listen-mic-off="pactl unload-module module-loopback"

# Wine
alias runwine="WINEARCH=win64 WINEPREFIX=~/wine/kennethWine wine"
alias wineprefix="WINEARCH=win64 WINEPREFIX=~/wine/kennethWine"
alias wineprefix32="WINEARCH=win32 WINEPREFIX=~/wine/kennethWine32"
# alias fnf="cd ~/Storage/Games/fnf/vanilla;./Funkin"

# My Custom Aliases
alias ppssppwine="WINEARCH=win64 WINEPREFIX=~/wine/kennethWine wine /run/media/kenneth/TRANSCEND/newpsp/PPSSPP/PPSSPPWindows64.exe"
alias ovpncon="sudo openvpn --config ~/Documents/RedFlameKen2.ovpn"
alias zerotierleave="sudo zerotier-one -q leave 1c33c1ced0e294b8"
alias zerotierjoin="sudo zerotier-one -q join 1c33c1ced0e294b8"
alias xfdisplay="xfce4-display-settings"
