/* 
 * background #1C1B19
 * foreground #FCE8C3
 * arch-color #519F50
 * border-color #FCE8C3
*/
/* 
 * background   #1C1B19
 * foreground   #FCE8C3
 * primary      #519F50
 * border-color #FCE8C3
*/


* {
    font-family: "FiraCode Nerd Font";
    font-size: 16px;
}
#window {
    border: 3px solid;
    border-color: #FCE8C3;
    background-color: #1C1B19;
    border-radius: 15px;
}

#outer-box {
    padding: 12px;
}

#input {
    color: #FCE8C3;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    /*border-bottom: solid 3px #FCE8C3;*/
    padding: 18px 0px 8px 0px;
}

#scroll {
    padding-bottom: 10px;
}

#inner-box {
    padding: 12px;
}

#img {
    transform: scale(-10%);
}
#img:selected {
    background-color: transparent;
}

#text {
    color: #FCE8C3;
    /*margin-left: 10px;*/
}

#text:selected {
    background-color: transparent;
    color: #1C1B19;
}
#unselected {
}

#entry {
}

#entry:selected {
    color: #FCE8C3;
    background-color: #519F50;
    outline: none;
    padding: 12px 0px 12px 0px;
    border-radius: 15px;
}


