@define-color background #343434;
@define-color red-color rgb(230, 25, 25);
@define-color orange-color rgb(230, 150, 25);
@define-color yellow-color rgb(230, 230, 25);
@define-color green-color rgb(25, 230, 25);
@define-color blue-color rgb(25, 150, 230);
@define-color darkblue-color rgb(25, 25, 230);
@define-color purple-color rgb(230, 25, 230);
@define-color gray-color rgb(230, 230, 230);
@define-color foreground rgb(230, 230, 230);
@define-color foreground-sub rgb(130, 205, 255);

* {
  /*  --border-radius: 20%;*/
}
window#waybar{
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    background-color: transparent;
    min-height: 24px;
}
#mpd,
#battery,
#clock,
#pulseaudio,
#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    color: @foreground;
    background: transparent;
    
}
#workspaces button {
    padding-left: 15px;
    padding-right: 15px;
}

#custom-launcher,
#custom-theme,
#battery,
#pulseaudio,
#leftMods,
#leftMods-extra,
#centerMods,
#rightMods-extra {
    background-color: @background;
    border-radius: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}
#tray {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:3px;
    padding-bottom:3px;
}

#custom-launcher,
#custom-theme{
    padding-left: 15px;
    padding-right: 15px;
}
#custom-launcher {
    padding-left: 11px;
    color: @foreground-sub;
}
/*
#leftMods {
    border-color: @blue-border;
}
#leftMods-extra {
    border-color: @blue-border;
}
#centerMods {
    border-color: @purple-border;
}
#rightMods-extra {
    border-color: @red-border;
}
#pulseaudio {
    border-color: @darkblue-border;
}
*/
#workspaces button {
    color: @foreground;
}
#workspaces button.active {
    color: @foreground-sub;
}
#workspaces button.urgent {
    color: @red-color;
}
#battery.full {
    color: @green-color;
}
#battery.charging {
    color: @yellow-color;
}
#battery.charging.full {
    color: @green-color;
}
#battery.discharging {
    color: @gray-color;
}
#battery.discharging.warning {
    color: @orange-color;
}
#battery.discharging.critical {
    color: @red-color;
}
#battery.discharging.normal {
    color: @gray-color;
}
/*
#custom-theme {
    border-color: @purple-border;
}
*/
#workspaces button:hover {
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
}


