@define-color background #1C1B19;
@define-color focus-bg #6E8175;
@define-color red-color #EF2F27;
@define-color orange-color #FF5F00;
@define-color yellow-color #FBB829;
@define-color green-color #519F50;
@define-color blue-color #68A8E4;
@define-color darkblue-color #2C78BF;
@define-color purple-color #FF5C8F;
@define-color gray-color #BAA67F;
@define-color foreground #FCE8C3;

window#waybar{
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    padding: 10px;
    background-color: rgba(28, 27, 25, 0.6);
    min-height: 50px;
}

#leftModules {
    padding-top: 4px;
    padding-bottom: 4px;
}

#centerModules {
    padding-top: 4px;
    padding-bottom: 4px;
}

#rightModules {
    padding-top: 4px;
    padding-bottom: 4px;
}
#battery,
#clock,
#tray,
#temperature,
#wireplumber,
#custom-theme,
#taskbar,
#workspaces,
#custom-launcher {
    border-radius: 16px;
    background-color: @background;
    color: @foreground;
    margin-left: 3px;
    margin-right: 3px;
}

#battery,
#clock,
#tray,
#temperature,
#wireplumber,
#workspaces,
#custom-theme,
#custom-launcher p{
    padding-left: 10px;
    padding-right: 10px;
}

#custom-theme,
#custom-launcher {
    padding-left: 11px;
    padding-right: 14px;
}

#custom-launcher {
    color: @blue-color;
}

#workspaces button {
    color: @foreground;
}

#workspaces button.urgent {
    color: @red-color;
}

#custom-launcher:hover,
#custom-theme :hover,
#workspaces button.active,
#taskbar button.active {
    background-image: linear-gradient(115deg, @purple-color, @blue-color);
    color: @background;
    box-shadow: none;
    text-shadow: none;
}

#taskbar :hover,
#workspaces :hover{
    background-color: @blue-color;
    color: @background;
    box-shadow: none;
    text-shadow: none;
}

#taskbar.empty {
    background-color: transparent;
    border: none;
}

#temperature {
    color: @blue-color;
}

#temperature.critical {
    color: @red-color;
}
#battery.full {
    color: @green-color;
}
#battery.charging {
    color: @yellow-color;
}
#battery.charging.full {
    color: @green-color;
}
#battery.discharging {
    color: @foreground;
}
#battery.discharging.warning {
    color: @orange-color;
}
#battery.discharging.critical {
    color: @red-color;
}
#battery.discharging.normal {
    color: @foreground;
}
