@define-color background #1C1B19;
@define-color red-color #EF2F27;
@define-color orange-color #FF5F00;
@define-color yellow-color #FBB829;
@define-color green-color #519F50;
@define-color blue-color #68A8E4;
@define-color darkblue-color #2C78BF;
@define-color purple-color #FF5C8F;
@define-color gray-color #BAA67F;
@define-color foreground #FCE8C3;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}
#window {
    border: 3px solid;
    border-color: @foreground;
    background-color: @background;
    border-radius: 15px;
}

#outer-box {
    padding: 12px;
}

#input {
    color: @foreground;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    /*border-bottom: solid 3px @foreground;*/
    padding: 18px 0px 8px 0px;
}

#scroll {
    padding-bottom: 10px;
}

#inner-box {
    padding: 12px;
}

#img {
    /*transform: scale(-10%);*/
}
#img:selected {
    background-color: transparent;
}

#text {
    color: @foreground;
    margin-left: 10px;
}

#text:selected {
    background-color: transparent;
    color: @background;
}
#unselected {
}

#entry {
}

#entry:selected {
    color: @foreground;
    background-color: @green-color;
    outline: none;
    padding: 12px 0px 12px 0px;
    border-radius: 15px;
}


